.box {
  height: 100px;
  width: 100px;
}

.blue {
  background-color: blue;

}

.green {
  background-color: green;


}

.gold {
  background-color: gold;

}

.indigo {
  background-color: indigo;
  
}
