.box {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  border-radius: 10px;
  margin: 5px;


}

.blue {
  background-color: blue;

}

.green {
  background-color: green;


}

.gold {
  background-color: gold;

}

.indigo {
  background-color: indigo;

}

.peachpuff {
  background-color: peachpuff;
}

.firebrick {
  background-color: firebrick;
}
